body {
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
    width: 100vw;
}
header {
  text-align: center;
}

img {
  width: 20%;
  height: 20%;
}

.wrapper {
  width: 1000px;
  margin: auto;
}

