* {
  margin: 0;
}

body {
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  width: 100vw;
  font-size: 10px;
  overflow-x: hidden;

  .wrapper {
    width: 1000px;
    margin: auto;
    height: 100%;
  }
}

header {
  height: 20vh;
  border-bottom: 1px solid #673ab7;

  .header {
    height: 100%;
    display: flex;
    align-items: center;

    &__photo {
      width: 16%;
      height: 100%;
      margin-left: 5rem;

      img {
        width: initial;
        height: inherit;
      }
    }

    &__title {
      margin-left: 5rem;

      .fullname {
        font-weight: 700;
        font-size: 2.4rem;
      }

      .profession {
        font-size: 1.5rem;
      }
    }
  }
}

main {
  display: flex;
  height: 69vh;
  font-size: 1.08rem;

  .main-info {
    display: flex;
    align-items: center;
    width: 70%;
    height: 100%;
    padding-right: 5px;
  }

  .skills-container {
    display: flex;
    align-items: center;
    width: 30%;
    height: 100%;
  }

  .skills {
    text-align: center;
    width: 90%;
    margin: auto;

    &__title {
      font-size: 1.2rem;
      margin-bottom: 5px;
    }

    &__info {
      .skill {
        margin-bottom: 5px;
      }

      .level {
        width: 80%;
        height: 8px;
        margin: auto;
        margin-bottom: 5px;
        background-color: white;
        outline: 1px solid #673ab7;
        outline-offset: -1px;

        .progress {
          height: 100%;
          background-color: #673ab7;
        }

        .html {
          width: 80%;
        }

        .css {
          width: 70%;
        }

        .sass {
          width: 60%;
        }

        .js {
          width: 62%;
        }

        .chart {
          width: 58%;
        }

        .git {
          width: 61%;
        }

        .webpack {
          width: 49%;
        }

        .english {
          width: 68%;
        }

        .russian {
          width: 100%;
        }
      }
    }
  }
}

footer {
  height: 10vh;
  font-size: 1.1rem;
  border-top: 1px solid #673ab7;

  .contacts {
    margin: 5px 0;

    &__title {
      text-align: center;
      font-size: 1.05rem;
    }

    &__list {
      display: flex;
      justify-content: space-between;
      list-style: none;
      text-align: center;
      padding: 0;
      margin: 5px 30px;
  

      &__item {
        display: flex;
        justify-content: center;

        .icons {
          width: 20px;
          margin-right: 10px;
        }        
      }
    }
  }
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #4d298d;
}
